<ion-modal-view>
<ion-header-bar class="bar-stable">
    <h1 class="title">关于大象框</h1>
    <div class="buttons">
      <button class="button button-stable" ng-click="closeModal()">关闭</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list card">

  <div class="item item-avatar">
    <img src="img/icon.png">
    <h2>大象框</h2>	
    <p>2.0</p>
  </div>
  <div class="item item-body">
    <p>
      赵云科技是一个充满青春活力的初创团队, 极具洞察力和执行力的我们, 致力于打造专属于你的互联网相框
      , 重新定义照片分享的意义。我们希望用最智能的管理、最简单的分享与展示, 发挥照片的最大价值。
	</p>
	<p>
      大象框, <span style="color: #ffc900">用智能的力量</span>留住回忆的踪迹, 没有一个瞬间<span style="color: #ffc900">值得忘记</span>。
    </p>
    <p>
      联系我们: <a href="#">hh@zhaoyuntech.com</a>
    </p>
  </div>

</div>
  </ion-content>
</ion-modal-view>
