<ion-view view-title="相册">

<!-- <ion-nav-buttons side="right">
        <button class="button" ng-click="myPopup()">
            <i class="icon ion-search"></i>
        </button>
    </ion-nav-buttons> -->

  <ion-content scroll="false">

    <ion-list>
        <a class="item item-thumbnail-left" href="#/app/playlists/cloud">
          <img src="img/cloud.png">
          <div class="cloud-album">
          <h2 >云相册</h2>
          <p>1234张</p>
          </div>
        </a>

        <a class="item" href="#">

          <p>本机相册</p>
          </div>
        </a>
    </ion-list>



  </ion-content>
 
</ion-view>


