<ion-view view-title="#{{keyword}}">

<div class="spacer" style="height: 100px;"></div>
	<div style="height: 200px;">
		
	</div>

<ion-content>

	<div class="card" style="margin-top: 62%;" ng-show="noResults">
	  <div class="item item-text-wrap">
	     <i class="icon ion-android-warning"></i> 智能搜索没有识别出这类的照片, 多上传一些吧!
	     <button class="button button-block button-energized" ui-sref="app.playlists">
		  返回
		</button>
	  </div>
	</div>


	<img class="gallery-img" ng-repeat="image in images"
    width="25%"
    height="{{imageWidth}}"
    ng-src="{{image.src}}"
    ng-click="showImages($index)">


</ion-content>


</ion-view>
