<ion-view view-title="test page" > 

	<ion-nav-buttons side="right">
	        <button class="button" ng-click="saveFile()">
	            <i class="icon ion-archive"></i>
	        </button>
	    </ion-nav-buttons>


<ion-content scroll="false">


 <div class="spacer" style="height: 40px;"></div>
<div class="row">
    <h2 class="recording-center">&nbsp;{{timeDisp}}&nbsp;</h2>
</div>
 <div class="spacer" style="height: 20px;"></div>

<div class="row">
 <img class="recording-icon" src="img/audio.png" ng-hide="recording">
 <img class="recording-icon" src="img/audio-pause.png" ng-show="recording">
</div>

 <div class="spacer" style="height: 120px;"></div>
<div class="row">
<button class="button button-large button-energized recording-center" on-hold="startTimer()" on-release="stopTimer()">
      按住说话
    </button>
</div>
 <div class="spacer" style="height: 10px;"></div>
<div class="row">
<button class="button button-large button-energized recording-center">
      直接发送
    </button>
</div>
 <div class="spacer" style="height: 10px;"></div>
<div class="row" ng-show="recordingExists">
<button class="button button button-balanced recording-center" ng-click="playRecording()" >
      <i class="icon ion-play"></i>
    </button>

</div>

</ion-content>


</ion-view>
